.header__box {
  height: 56px;
  border-bottom: 0.5px solid #D3D3D3;
  display: flex;
  &__logo--image {
    height: 50px;
    margin: 3px 0 0 10px;
  }
  &__list {
    display: flex;
    list-style: none;
    margin-left: 10px;
    padding: 8px 0;
    &__each {
      padding: 8px;
    }

  }

  .form {
    margin-left: auto;
    margin-right: 10px;
    line-height: 56px;
    &__search {
      &--text {
        height: 25px;
        border: 1px black solid;
        
      }
    }
  }
}