<div class="row create_page">
  <div class="col-md-6 offset-md-3">
    <h3 class="create_page__title">
      投稿が完了しました。
    </h3>
    <div class="form-group text-center">
      <%= link_to "募集一覧へ戻る", posts_path, class: "btn" %>
    </div>
  </div>
</div>