<div class="main">
  <div class="container main__content">
    <div class="main__content__title">
      <h2 class="title_name">最近の募集</h2>
    </div>
    <div class="row">
      <%# <% @posts.each do |post| %> 
        <div class="col-sm-12 col-md-6 col-lg-4 main__content__box">
          <div class="rounded main__content__box__field">
            <div class="main__content__box__field__user">
              <p class="box__field__user--name">ユーザー名</p>
              <p class="box__field__user--date"></p> 
            </div>
            <p class="main__content__box__field--title"></p>
            <%= simple_format("test", class: "main__content__box__field--content") %>
          </div>
        </div>
      <%# <% end %> 
    </div>
  </div>
</div>